body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
    
}

a:hover{
    color: rgb(24, 194, 112);
  
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    border-bottom: 2px solid rgba(24, 22, 22, 0.3);
    }

header span:first-child{
    font-size: 25px;
    font-weight: 500;
    }
        
header span:nth-child(2) {
    font-size: 20px;
     }
        
 nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 2rem;
        }
.image-logo{
    width: 100px;
    height: 80px;
    object-fit: contain;
        }


        .services-wrapper{
            display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 10px 10px;
    background-color: rgb(233, 232, 232);
    height: 250px;
    /* min-width: 320px; */
    margin: 2rem auto;
    width: 360px;
    max-width: 100%;
            
        }

         .service-wrapper{
            display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    margin: 2rem auto;
    max-width: 1000px;
    padding-left: 2rem;
    padding-right: 2rem;
    
        
        
        
        } 
        .omega-image{
            width: 200px;
    height: 250px;
    object-fit: cover;
    margin:auto;
    min-width: 100px;
        }

@media screen and (max-width:760px){
    body{
        min-width: 450px;
    }
    
    nav{
        display: none;
    }
    .logo{
        display: none;
    }
    .mobile-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

@media screen and (min-width:760px){
    .image-logo{
display: none;
    }
    .mobile-nav{
        display: none;
    }
}